<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../images/gocd.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="../images/gocd.png" rel="apple-touch-icon" type="image/png" size="192x192" />
    <title>GoCD Task Plugin API Reference</title>

    <style>
      .highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #f8f8f2;
  background-color: #272822;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #505050;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}
    </style>
    <link href="../stylesheets/screen.css" rel="stylesheet" media="screen" />
    <link href="../stylesheets/print.css" rel="stylesheet" media="print" />

      <script src="../javascripts/all.js"></script>


      <script>
        $(function() {
          setupLanguages([]);
        });
      </script>
  </head>

  <body class="tasks tasks_index" data-languages="[]">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../images/navbar.png" alt="Navbar" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <img src="../images/logo.png" alt="Logo" />
        <div class="lang-selector">
        </div>
      <div class="version-switcher">
        <span>Switch version:</span> <select></select>
      </div>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <div id="toc">
      </div>
        <ul class="toc-footer">
            <li><a href='https://github.com/gocd/plugin-api.go.cd'>Edit this guide on GitHub</a></li>
            <li><a href='https://api.gocd.org'>GoCD API Documentation</a></li>
            <li><a href='https://docs.gocd.org'>GoCD User Documentation</a></li>
        </ul>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h1 id="task-plugins">Task Plugins</h1>

<p>The Task extension endpoint allows plugin authors to extend GoCD to run new tasks in addition to the defaults that GoCD provides.</p>

<p>If you&rsquo;re looking to start away with a basic template for task plugins, we recommend forking this <a href="https://github.com/gocd-contrib/task-skeleton-plugin">github repository</a>.</p>

<h1 id="getting-started">Getting started</h1>

<p>Plugins in GoCD are implemented in Java and packaged as a JAR file.</p>

<h2 id="structure-of-a-gocd-plugin">Structure of a GoCD Plugin</h2>

<blockquote>
<p>A plugin for GoCD is a JAR file with the following structure</p>
</blockquote>

<pre class="highlight plaintext"><code>plugin.jar
|
|-- plugin.xml
|-- com
|   \-- example
|       \-- go
|           \-- testplugin
|               \-- EchoTaskPlugin.class
|               \-- x.class
|               \-- y.class
\-- lib
    \-- dependency-1.jar
    \-- dependency-2.jar
</code></pre>

<p>The plugin jar is a self contained-jar, it is expected to contain the following inside it —</p>

<ul>
<li><code class="prettyprint">plugin.xml</code> — the <a href="#the-plugin-metadata">metadata</a> of your plugin</li>
<li>the <a href="#the-plugin-extension-class">plugin extension class</a> <code class="prettyprint">EchoTaskPlugin.class</code>, and any other classes that form your plugin.</li>
<li>any optional <a href="#the-plugin-dependencies">dependencies</a> your plugin may requires (inside the <code class="prettyprint">lib</code>)</li>
</ul>

<p><a id='the-plugin-metadata'></a></p>

<h3 id="the-plugin-metadata-plugin-xml">The plugin metadata <code class="prettyprint">plugin.xml</code></h3>

<blockquote>
<p>Here is an example <code class="prettyprint">plugin.xml</code></p>
</blockquote>

<pre class="highlight xml"><code><span class="cp">&lt;?xml version="1.0" encoding="utf-8" ?&gt;</span>
<span class="c">&lt;!-- Your plugin id and version
     of this XML document, the
     version must be set to "1" --&gt;</span>
<span class="nt">&lt;go-plugin</span>
  <span class="na">id=</span><span class="s">"com.example.rocket.launcher"</span>
  <span class="na">version=</span><span class="s">"1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;about&gt;</span>
    <span class="c">&lt;!-- The name of your plugin --&gt;</span>
    <span class="nt">&lt;name&gt;</span>Launches rockets<span class="nt">&lt;/name&gt;</span>
    <span class="c">&lt;!--  The version of your plugin --&gt;</span>
    <span class="nt">&lt;version&gt;</span>0.0.1<span class="nt">&lt;/version&gt;</span>
    <span class="c">&lt;!-- The minimum version of GoCD that this plugin requires --&gt;</span>
    <span class="nt">&lt;target-go-version&gt;</span>15.1.0<span class="nt">&lt;/target-go-version&gt;</span>
    <span class="c">&lt;!-- A longer description of your plugin  --&gt;</span>
    <span class="nt">&lt;description&gt;</span>Launches rockets, spaceships and other things to a destination of your choice.<span class="nt">&lt;/description&gt;</span>

    <span class="c">&lt;!-- Tell us who you are --&gt;</span>
    <span class="nt">&lt;vendor&gt;</span>
      <span class="nt">&lt;name&gt;</span>ACME Corp<span class="nt">&lt;/name&gt;</span>
      <span class="nt">&lt;url&gt;</span>https://www.example.com<span class="nt">&lt;/url&gt;</span>
    <span class="nt">&lt;/vendor&gt;</span>

    <span class="c">&lt;!-- If this plugin only supports certain OSes --&gt;</span>
    <span class="nt">&lt;target-os&gt;</span>
      <span class="nt">&lt;value&gt;</span>Linux<span class="nt">&lt;/value&gt;</span>
      <span class="nt">&lt;value&gt;</span>Windows<span class="nt">&lt;/value&gt;</span>
    <span class="nt">&lt;/target-os&gt;</span>
  <span class="nt">&lt;/about&gt;</span>
<span class="nt">&lt;/go-plugin&gt;</span>
</code></pre>

<p>This is an XML file that should be present in the plugin jar file at the top level.</p>

<p>You can find the XML Schema for the plugins in the  <a href="https://github.com/gocd/gocd/blob/master/plugin-infra/go-plugin-api/resources/plugin-descriptor.xsd">main repository</a>.</p>

<p><a name='the-plugin-extension-class'></a></p>

<h3 id="the-plugin-extension-class">The plugin extension class</h3>

<blockquote>
<p>Add this to your maven <code class="prettyprint">pom.xml</code></p>
</blockquote>

<pre class="highlight xml"><code><span class="nt">&lt;dependency&gt;</span>
    <span class="nt">&lt;groupId&gt;</span>cd.go.plugin<span class="nt">&lt;/groupId&gt;</span>
    <span class="nt">&lt;artifactId&gt;</span>go-plugin-api<span class="nt">&lt;/artifactId&gt;</span>
    <span class="nt">&lt;version&gt;</span>17.6.0<span class="nt">&lt;/version&gt;</span>
<span class="nt">&lt;/dependency&gt;</span>
</code></pre>

<p>In order to use the plugin extension class, you must add the following to your maven dependencies. If you&rsquo;re using <a href="https://gradle.org">gradle</a>, then use <code class="prettyprint">cd.go.plugin:go-plugin-api:17.6.0</code>. You can find the latest version of the plugin in <a href="http://mvnrepository.com/artifact/cd.go.plugin/go-plugin-api">maven central</a>.</p>

<div style='clear: both;'></div>

<blockquote>
<p>An example plugin class implementation</p>
</blockquote>

<pre class="highlight java"><code><span class="kn">package</span> <span class="n">com</span><span class="o">.</span><span class="na">example</span><span class="o">.</span><span class="na">go</span><span class="o">.</span><span class="na">testplugin</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.*</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.annotation.*</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.exceptions.*</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.request.*</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.response.*</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.google.gson.Gson</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">java.util.*</span><span class="o">;</span>

<span class="nd">@Extension</span>
<span class="kd">public</span> <span class="kd">class</span> <span class="nc">EchoTaskPlugin</span> <span class="kd">implements</span> <span class="n">GoPlugin</span> <span class="o">{</span>
  <span class="kd">private</span> <span class="n">GoApplicationAccessor</span> <span class="n">accessor</span><span class="o">;</span>

  <span class="c1">// this method is executed once at startup</span>
  <span class="kd">public</span> <span class="kt">void</span> <span class="n">initializeGoApplicationAccessor</span><span class="o">(</span><span class="n">GoApplicationAccessor</span> <span class="n">accessor</span><span class="o">)</span> <span class="o">{</span>
    <span class="k">this</span><span class="o">.</span><span class="na">accessor</span> <span class="o">=</span> <span class="n">accessor</span><span class="o">;</span>
  <span class="o">}</span>

  <span class="c1">// a GoPluginIdentifier tells GoCD what kind of a plugin this is</span>
  <span class="c1">// and what version(s) of the request/response API it supports</span>
  <span class="kd">public</span> <span class="n">GoPluginIdentifier</span> <span class="n">pluginIdentifier</span><span class="o">()</span> <span class="o">{</span>
    <span class="k">return</span> <span class="k">new</span> <span class="n">GoPluginIdentifier</span><span class="o">(</span><span class="s">"task"</span><span class="o">,</span> <span class="n">Arrays</span><span class="o">.</span><span class="na">asList</span><span class="o">(</span><span class="s">"1.0"</span><span class="o">))</span>
  <span class="o">}</span>

  <span class="c1">// handle the request and return a response</span>
  <span class="c1">// the response is very much like a HTTP response —</span>
  <span class="c1">// it has a status code, a response body and optional headers</span>
  <span class="kd">public</span> <span class="n">GoPluginApiResponse</span> <span class="n">handle</span><span class="o">(</span><span class="n">GoPluginApiRequest</span> <span class="n">request</span><span class="o">)</span> <span class="kd">throws</span> <span class="n">UnhandledRequestTypeException</span> <span class="o">{</span>
    <span class="k">if</span> <span class="o">(</span><span class="n">request</span><span class="o">.</span><span class="na">requestName</span><span class="o">().</span><span class="na">equals</span><span class="o">(</span><span class="s">"go.plugin-settings.get-view"</span><span class="o">))</span> <span class="o">{</span>
      <span class="n">String</span> <span class="n">viewHtml</span> <span class="o">=</span> <span class="n">read</span><span class="o">(</span><span class="n">getClass</span><span class="o">().</span><span class="na">getResourceAsStream</span><span class="o">(</span><span class="s">"/plugin-settings.template.html"</span><span class="o">));</span>
      <span class="k">return</span> <span class="k">new</span> <span class="n">DefaultGoPluginApiResponse</span><span class="o">(</span><span class="mi">200</span><span class="o">,</span> <span class="n">viewHtml</span><span class="o">);</span>
    <span class="k">if</span> <span class="o">(</span><span class="n">request</span><span class="o">.</span><span class="na">requestName</span><span class="o">().</span><span class="na">equals</span><span class="o">(</span><span class="s">"go.plugin-settings.validate-configuration"</span><span class="o">))</span> <span class="o">{</span>
      <span class="n">List</span> <span class="n">errors</span> <span class="o">=</span> <span class="n">validate</span><span class="o">(</span><span class="n">request</span><span class="o">);</span>
      <span class="k">return</span> <span class="k">new</span> <span class="n">DefaultGoPluginApiResponse</span><span class="o">(</span><span class="mi">200</span><span class="o">,</span> <span class="k">new</span> <span class="n">Gson</span><span class="o">().</span><span class="na">toJson</span><span class="o">(</span><span class="n">errors</span><span class="o">));</span>
    <span class="o">}</span> <span class="k">else</span> <span class="o">{</span>
      <span class="k">throw</span> <span class="k">new</span> <span class="n">UnhandledRequestTypeException</span><span class="o">(</span><span class="n">request</span><span class="o">.</span><span class="na">requestName</span><span class="o">());</span>
    <span class="o">}</span>
  <span class="o">}</span>
<span class="o">}</span>
</code></pre>

<p>The plugin extension class is a Java class that implements the <code class="prettyprint">GoPlugin</code> interface.</p>

<p>The other types in the example are —</p>

<p class='attributes-table-follows'></p>

<table><thead>
<tr>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td><a href="#requests-to-the-gocd-server"><code class="prettyprint">GoApplicationAccessor</code></a></td>
<td>So that the plugin can make requests to the GoCD application to get additional information that is not provided by each request. For example, the plugin can ask for settings, credentials etc.</td>
</tr>
<tr>
<td><code class="prettyprint">GoPluginIdentifier</code></td>
<td>Provides information about the type of plugin and the version of the request/response it supports.</td>
</tr>
<tr>
<td><code class="prettyprint">GoPluginApiRequest</code></td>
<td>Represents the request message sent from GoCD to a plugin. The message will have a name and an optional JSON request body and the version of the extension.</td>
</tr>
<tr>
<td><code class="prettyprint">GoPluginApiResponse</code></td>
<td>Represents the response message as a result of processing the <code class="prettyprint">GoPluginApiRequest</code>. Similar to <code class="prettyprint">GoPluginApiRequest</code>, the response will have a status code and an optional JSON response body.</td>
</tr>
</tbody></table>

<p>If you&rsquo;re familiar with http request/responses handled by a web application, you will find this very familiar.</p>

<aside class="notice">
  GoCD has built in support for allowing plugins to enhance their capabilities in the future without having to break compatibility. This is achieved by ensuring that each extension-point and messages that are sent to the plugin are versioned.
</aside>

<p><a id='the-plugin-dependencies'></a></p>

<h3 id="the-plugin-dependencies">The plugin dependencies</h3>

<p>Any dependencies that your plugin requires, should go into the <code class="prettyprint">lib</code> directory inside the plugin JAR.</p>

<h1 id="requests-from-gocd">Requests from GoCD</h1>

<p>In order to implement a task point the following messages must be implemented by the plugin.</p>

<ul>
<li><a href="#task-configuration">Task Configuration</a></li>
<li><a href="#task-view">Task View</a></li>
<li><a href="#validate-configuration">Validate Configuration</a></li>
<li><a href="#execute-task">Execute Task</a></li>
</ul>

<h2 id="task-configuration">Task Configuration</h2>

<blockquote>
<p>An example response body</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"url"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"default-value"</span><span class="p">:</span><span class="w"> </span><span class="s2">""</span><span class="p">,</span><span class="w">
    </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"user"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"default-value"</span><span class="p">:</span><span class="w"> </span><span class="s2">"bob"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"password"</span><span class="p">:</span><span class="w"> </span><span class="p">{}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<p>This message is sent by the GoCD server to the plugin to know what properties are supported by this plugin that should to be stored in the <code class="prettyprint">cruise-config.xml</code> file.</p>

<p class='request-name-heading'>Request name</p>

<p><code class="prettyprint">configuration</code></p>

<p class='request-body-heading'>Request body</p>

<p>The server will not provide a request body.</p>

<p class='response-code-heading'>Response code</p>

<p>The plugin is expected to return status <code class="prettyprint">200</code> if it can understand the request.</p>

<p class='response-body-heading'>Response Body</p>

<p>The plugin is expected to return an object containing the configuration property along with <a href="#the-task-configuration-response-object">task configuration properties</a></p>

<h2 id="task-view">Task View</h2>

<blockquote>
<p>An example response body</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"displayValue"</span><span class="p">:</span><span class="w"> </span><span class="s2">"MavenTask"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"template"</span><span class="p">:</span><span class="w"> </span><span class="s2">"&lt;div class=\"form_item_block\"&gt;...&lt;/div&gt;"</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<p>This message is sent by the GoCD server to the plugin to get an AngularJS based HTML template to allow the task to be configured.</p>

<p class='request-name-heading'>Request name</p>

<p><code class="prettyprint">view</code></p>

<p class='request-body-heading'>Request body</p>

<p>The server will not provide a request body.</p>

<p class='response-code-heading'>Response code</p>

<p>The plugin is expected to return status <code class="prettyprint">200</code> if it can understand the request.</p>

<p class='response-body-heading'>Response Body</p>

<p>The plugin is expected to return an object containing the view rendering information <a href="#the-task-view-response-object">task view response object</a></p>

<h2 id="validate-configuration">Validate Configuration</h2>

<blockquote>
<p>An example validation request body</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"URL"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
    </span><span class="nt">"value"</span><span class="p">:</span><span class="w"> </span><span class="s2">"http://localhost.com"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"USERNAME"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
    </span><span class="nt">"value"</span><span class="p">:</span><span class="w"> </span><span class="s2">"user"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"PASSWORD"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
    </span><span class="nt">"value"</span><span class="p">:</span><span class="w"> </span><span class="s2">"password"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<blockquote>
<p>An example response body, in case there are validation errors</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"errors"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"URL"</span><span class="p">:</span><span class="w"> </span><span class="s2">"URL is not well formed"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"USERNAME"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Invalid character present"</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<blockquote>
<p>An example response body, in case there are no validation errors</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"errors"</span><span class="p">:</span><span class="w"> </span><span class="p">{}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<p>This message is sent by the GoCD server to the plugin to validate if the settings entered by the user are valid, so that the server may persist those settings in the <code class="prettyprint">cruise-config.xml</code> file.</p>

<p class='request-name-heading'>Request name</p>

<p><code class="prettyprint">validate</code></p>

<p class='request-body-heading'>Request body</p>

<p>The request body will contain a JSON, which contains an object with the configuration keys and values that the plugin is expected to validate. If the configuration is valid, the <code class="prettyprint">errors</code> object should be empty <code class="prettyprint">{}</code>.</p>

<p class='response-code-heading'>Response code</p>

<p>The plugin is expected to return status <code class="prettyprint">200</code> if it can understand the request.</p>

<p class='response-body-heading'>Response Body</p>

<p>The plugin is expected to return an error object validation errors.</p>

<h2 id="execute-task">Execute Task</h2>

<blockquote>
<p>An example request body</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"config"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"ftp_server"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
      </span><span class="nt">"value"</span><span class="p">:</span><span class="w"> </span><span class="s2">"ftp.example.com"</span><span class="p">,</span><span class="w">
      </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
    </span><span class="p">},</span><span class="w">
    </span><span class="nt">"remote_dir"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
      </span><span class="nt">"value"</span><span class="p">:</span><span class="w"> </span><span class="s2">"/pub/"</span><span class="p">,</span><span class="w">
      </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"context"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"workingDirectory"</span><span class="p">:</span><span class="w"> </span><span class="s2">"working-dir"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"environmentVariables"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="nt">"ENV1"</span><span class="p">:</span><span class="w"> </span><span class="s2">"VAL1"</span><span class="p">,</span><span class="w">
      </span><span class="nt">"ENV2"</span><span class="p">:</span><span class="w"> </span><span class="s2">"VAL2"</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<blockquote>
<p>An example response body, in case of success</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"success"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
  </span><span class="nt">"message"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Finished executing task"</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<blockquote>
<p>An example response body, in case of failure</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"success"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
  </span><span class="nt">"message"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Failed to execute task. The error was: 'Server not found'"</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<blockquote>
<p>Here&rsquo;s an example snippet of code to help execute custom commands and send their output to GoCD</p>
</blockquote>

<pre class="highlight java"><code><span class="kn">import</span> <span class="nn">com.google.gson.GsonBuilder</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.request.GoPluginApiRequest</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.response.DefaultGoPluginApiResponse</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">com.thoughtworks.go.plugin.api.task.JobConsoleLogger</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">java.io.File</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">java.util.*</span><span class="o">;</span>

<span class="kd">public</span> <span class="kd">class</span> <span class="nc">PluginExecutor</span> <span class="o">{</span>
  <span class="kd">public</span> <span class="n">DefaultGoPluginApiResponse</span> <span class="n">execute</span><span class="o">(</span><span class="n">GoPluginApiRequest</span> <span class="n">request</span><span class="o">)</span> <span class="kd">throws</span> <span class="n">Exception</span> <span class="o">{</span>
    <span class="n">JobConsoleLogger</span> <span class="n">console</span> <span class="o">=</span> <span class="n">JobConsoleLogger</span><span class="o">.</span><span class="na">getConsoleLogger</span><span class="o">();</span>

    <span class="c1">// create the process with the right cli args environment variables and working directory</span>
    <span class="c1">// all this is available in the requestBody</span>
    <span class="n">ProcessBuilder</span> <span class="n">builder</span> <span class="o">=</span> <span class="k">new</span> <span class="n">ProcessBuilder</span><span class="o">(...);</span>
    <span class="n">builder</span><span class="o">.</span><span class="na">directory</span><span class="o">(...);</span>
    <span class="n">builder</span><span class="o">.</span><span class="na">environment</span><span class="o">().</span><span class="na">putAll</span><span class="o">(...);</span>

    <span class="c1">// print out the environment variables to the console</span>
    <span class="n">console</span><span class="o">.</span><span class="na">printEnvironment</span><span class="o">(</span><span class="n">builder</span><span class="o">.</span><span class="na">environment</span><span class="o">());</span>

    <span class="c1">// start the process</span>
    <span class="n">Process</span> <span class="n">process</span> <span class="o">=</span> <span class="n">builder</span><span class="o">.</span><span class="na">start</span><span class="o">();</span>

    <span class="c1">// ensure that the process's stderr and stdout and connected to GoCD</span>
    <span class="n">console</span><span class="o">.</span><span class="na">readErrorOf</span><span class="o">(</span><span class="n">process</span><span class="o">.</span><span class="na">getErrorStream</span><span class="o">());</span>
    <span class="n">console</span><span class="o">.</span><span class="na">readOutputOf</span><span class="o">(</span><span class="n">process</span><span class="o">.</span><span class="na">getInputStream</span><span class="o">());</span>

    <span class="c1">// wait for the process to exit</span>
    <span class="kt">int</span> <span class="n">exitCode</span> <span class="o">=</span> <span class="n">process</span><span class="o">.</span><span class="na">waitFor</span><span class="o">();</span>

    <span class="k">if</span> <span class="o">(</span><span class="n">exitCode</span> <span class="o">!=</span> <span class="mi">0</span><span class="o">)</span> <span class="o">{</span>
      <span class="c1">// send error response</span>
      <span class="k">return</span> <span class="k">new</span> <span class="n">DefaultGoPluginApiResponse</span><span class="o">(</span><span class="mi">200</span><span class="o">,</span> <span class="s">"..."</span><span class="o">);</span>
    <span class="o">}</span> <span class="k">else</span> <span class="o">{</span>
      <span class="c1">// send success response</span>
      <span class="k">return</span> <span class="k">new</span> <span class="n">DefaultGoPluginApiResponse</span><span class="o">(</span><span class="mi">200</span><span class="o">,</span> <span class="s">"..."</span><span class="o">);</span>
    <span class="o">}</span>
  <span class="o">}</span>
<span class="o">}</span>
</code></pre>

<p>This message is sent by the GoCD agent to the plugin to execute the task.</p>

<p class='request-name-heading'>Request name</p>

<p><code class="prettyprint">execute</code></p>

<p class='request-body-heading'>Request body</p>

<p>The request body will contain a JSON containing the necessary configuration provided by the user, along with the working directory where the task is expected to run, and the environment variables configured.</p>

<p class='response-code-heading'>Response code</p>

<p>The plugin is expected to return status <code class="prettyprint">200</code> if it can understand the request.</p>

<p class='response-body-heading'>Response Body</p>

<p>The plugin is expected to return a status object indicating <code class="prettyprint">success</code>, and a <code class="prettyprint">message</code>. During the execution of the plugin, messages that need to be shown on the output console of the job can be sent to the Go Server using the an instance of <code class="prettyprint">JobConsoleLogger</code>.</p>

<h1 id="request-response-json-objects">Request/Response JSON Objects</h1>

<p><a id='the-task-configuration-response-object'></a></p>

<h3 id="the-task-configuration-response-object">The Task Configuration Response Object</h3>

<blockquote>
<p>Here&rsquo;s an example of the task configuration response object</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"url"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"default-value"</span><span class="p">:</span><span class="w"> </span><span class="s2">""</span><span class="p">,</span><span class="w">
    </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"user"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="nt">"default-value"</span><span class="p">:</span><span class="w"> </span><span class="s2">"bob"</span><span class="p">,</span><span class="w">
    </span><span class="nt">"secure"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="p">,</span><span class="w">
    </span><span class="nt">"required"</span><span class="p">:</span><span class="w"> </span><span class="kc">true</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="nt">"password"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<p class='attributes-table-follows'></p>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td><code class="prettyprint">default-value</code></td>
<td>String</td>
<td>A value to be used as the default if the user provides no value.</td>
</tr>
<tr>
<td><code class="prettyprint">secure</code></td>
<td>Boolean</td>
<td>If the value should be stored in an encrypted form in the <code class="prettyprint">cruise-config.xml</code> file.</td>
</tr>
<tr>
<td><code class="prettyprint">required</code></td>
<td>Boolean</td>
<td>Whether the field is required.</td>
</tr>
</tbody></table>

<p><a id='the-task-view-response-object'></a></p>

<h3 id="the-task-view-response-object">The Task View Response Object</h3>

<blockquote>
<p>Here&rsquo;s an example of the task view response object</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"displayValue"</span><span class="p">:</span><span class="w"> </span><span class="s2">"MavenTask"</span><span class="p">,</span><span class="w">
  </span><span class="nt">"template"</span><span class="p">:</span><span class="w"> </span><span class="s2">"&lt;div class=\"form_item_block\"&gt;...&lt;/div&gt;"</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<p class='attributes-table-follows'></p>

<table><thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td><code class="prettyprint">displayValue</code></td>
<td>String</td>
<td>The name of the task that should be rendered in the view.</td>
</tr>
<tr>
<td><code class="prettyprint">template</code></td>
<td>String</td>
<td>A string containing an HTML AngularJS based view.</td>
</tr>
</tbody></table>

<p>This template is an <a href="https://angularjs.org">AngularJS</a> based template.</p>

<p>GoCD uses Angular JS as its template engine for the plugin UI. This allows plugin authors to use a limited set of AngularJS features to specify how the UI of their plugins looks.</p>

<aside class='notice'>
  <strong>Note:</strong> Some plugin endpoints, like the Package Repository plugin, do not use this for their view.
</aside>

<div style='clear: both;'></div>

<h4 id="getting-started-with-angularjs-based-templates">Getting started with AngularJS based templates</h4>

<blockquote>
<p>Given a configuration —</p>
</blockquote>

<pre class="highlight xml"><code><span class="nt">&lt;configuration&gt;</span>
  <span class="nt">&lt;property&gt;</span>
    <span class="nt">&lt;key&gt;</span>username<span class="nt">&lt;/key&gt;</span>
    <span class="nt">&lt;value&gt;</span>alice<span class="nt">&lt;/username&gt;</span>
  <span class="nt">&lt;/property&gt;</span>
<span class="nt">&lt;/configuration&gt;</span>
</code></pre>

<blockquote>
<p>This gets converted into the following JSON representation in the browser —</p>
</blockquote>

<pre class="highlight json"><code><span class="p">{</span><span class="w">
  </span><span class="nt">"username"</span><span class="p">:</span><span class="w"> </span><span class="s2">"alice"</span><span class="w">
</span><span class="p">}</span><span class="w">
</span></code></pre>

<blockquote>
<p>The AngularJS template is expected to bind to the JSON object shown above —</p>
</blockquote>

<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form_item_block"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;label&gt;</span>Username:<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">'asterix'</span><span class="nt">&gt;</span>*<span class="nt">&lt;/span&gt;&lt;/label&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">"username"</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>

<p>When an Angular template is used in a Go plugin, to define the configuration UI, the configuration key which is stored in the configuration XML is used everywhere and is expected to be consistent. Since Angular works off of JSON, GoCD will make sure that the key in the JSON provided to the Angular template is the same as the key in the configuration XML.</p>

<p>Suppose the key of the configuration property stored in the XML is &ldquo;username&rdquo;, with value, &ldquo;alice&rdquo;, then Go will make sure that the value is available to the template as &ldquo;username&rdquo; when used in an Angular-specific HTML attribute like &ldquo;ng-model&rdquo;.</p>

<div style='clear: both;'></div>

<h4 id="showing-validation-errors-in-the-ui">Showing validation errors in the UI</h4>

<blockquote>
<p>We use some simple string replacement<br/>
to substitute <code class="prettyprint">GOINPUTNAME</code> with a unique identifier<br/>
for your plugin in order to render<br/>
any server side errors</p>
</blockquote>

<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form_item_block"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;label&gt;</span>Username:<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">'asterix'</span><span class="nt">&gt;</span>*<span class="nt">&lt;/span&gt;&lt;/label&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">"username"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"form_error"</span> <span class="na">ng-show=</span><span class="s">"GOINPUTNAME[username].$error.server"</span><span class="nt">&gt;</span>
    {{ GOINPUTNAME[username].$error.server}}
  <span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>

<p>In case of validation errors returned by <code class="prettyprint">go.plugin-settings.validate-configuration</code>, the error messages needs to be populated on the UI, use the snippet here to show the validation errors.</p>

      </div>
      <div class="dark-box">
          <div class="lang-selector">
          </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48357651-1', 'auto', {'allowLinker': true});
      ga('send', 'pageview');
    </script>
  </body>
</html>
