---
title: GoCD Analytics Plugin API Reference

toc_footers:
  - <a href='https://github.com/gocd/plugin-api.go.cd'>Edit this guide on GitHub</a>
  - <a href='https://api.gocd.org'>GoCD API Documentation</a>
  - <a href='https://docs.gocd.org'>GoCD User Documentation</a>

search: true
---

<%= render_all_sub_topics('analytics') %>
