## Get Plugin Icon

This call is expected to return the icon for the plugin, so as to make it easy for users to identify the plugin.

<p class='request-name-heading'>Request name</p>

`go.cd.elastic-agent.get-icon`

<p class='request-body-heading'>Request body</p>

The server will not provide a request body.

<p class='response-code-heading'>Response code</p>

The plugin is expected to return status `200` if it can understand the request.

<p class='response-body-heading'>Response Body</p>

> An example plugin response body

```json
{
  "content_type": "image/svg+xml",
  "data": "PHN2ZyB2ZXJzaW9u..."
}
```

The plugin is expected to return an [image object](#the-image-object).

<aside class="notice">
  <strong>It is recommended that:</strong>
  <ul>
    <li>The image be an SVG image, since it scales well. Using other types like PNG/JPEG/GIF/BMP will work too, but is not recommended.</li>
    <li>The image be a square image.</li>
    <li>The base-64 encoded data is &lt;= 100KB. Bigger sizes will work too, but may take a long time to render.</li>
  </ul>
</aside>
