## Get agent status report

If plugin supports status report, this message must be implemented to report the status of a particular elastic agent brought up by the plugin to run a job. The purpose of this call is to provide specific information about the current state of the elastic agent.

<p class='request-name-heading'>Request name</p>

`cd.go.elastic-agent.agent-status-report`

<p class='request-body-heading'>Request body</p>

> An example request body for a docker plugin

```json
{
  "cluster_profile_properties": {
    "Image": "DockerURI",
    "MaxMemory": "500Mb"
  },
  "elastic_agent_id": "46d7aa499c9f44958e118ffb7f975c52",
  "job_identifier": {
    "pipeline_name": "test-pipeline",
    "pipeline_label": "Test Pipeline",
    "pipeline_counter": 1,
    "stage_name": "test-stage",
    "stage_counter": "1",
    "job_name": "test-job",
    "job_id": 100
  }
}
```

The request body will contain the following JSON elements:

<p class='attributes-table-follows'></p>

| Key                            | Type       | Description                                                                                                |
| ------------------------------ | ---------- | ---------------------------------------------------------------------------------------------------------- |
| `job_identifier`               | `Object`   | The job identifier for which the agent is created.                                                         |
| `elastic_agent_id`             | `String`   | This key contains the elastic agent id, this is available only when agent is registered with GoCD server.  |
| `cluster_profile_properties`   | `Object`   | The key represents the cluster profile for the given `elastic_agent`                                       |

<p class='response-code-heading'>Response code</p>

The plugin is expected to return status `200` JSON object of view and in following format.

<p class='response-body-heading'>Response Body</p>

> An example response body:

```json
{
  "view": "agent-status-report-html-view"
}
```

The request body will contain the following JSON elements:

<p class='attributes-table-follows'></p>

| Key       | Type     | Description                                                                                  |
|-----------|----------|----------------------------------------------------------------------------------------------|
| `view`    | `String` | Agent status report view html. GoCD server will render this view as a agent status report.   |
