## Get cluster status report

If plugin supports cluster status report, this message must be implemented to provide the overall status of the cluster.

<p class='request-name-heading'>Request name</p>

`cd.go.elastic-agent.cluster-status-report`

<p class='request-body-heading'>Request body</p>

> An example request body for a docker plugin

```json
{
  "cluster_profile_properties": {
    "Image": "DockerURI",
    "MaxMemory": "500Mb"
  }
}
```

| Key                           | Type     | Description                                                           |
|-------------------------------|----------|-----------------------------------------------------------------------|
| `cluster_profile_properties`  | `Object` | This key cluster profile for which the status report request is made. |

<p class='response-code-heading'>Response code</p>

The plugin is expected to return status `200` JSON object of view and in following format.

<p class='response-body-heading'>Response Body</p>

> An example response body:

```json
{
  "view": "plugin-status-report-html-view"
}
```

The request body will contain the following JSON elements:

<p class='attributes-table-follows'></p>

| Key       | Type     | Description                                                                                  |
|-----------|----------|----------------------------------------------------------------------------------------------|
| `view`    | `String` | Plugin should return html view containing information about elastic agents.                  |
