# Request/Response JSON Objects

<%
get_config_view = {
  template: '<div class="form_item_block">...</div>'
}
%>

<%=
describe_sub_object 'The Config View Object', json: get_config_view, html_id: 'the-get-config-view-object' do
  template    'String', 'A string containing an HTML AngularJS based view.'
end
%>

<%
image = {
  'content_type' => 'image/svg+xml',
  'data' => '....'
}
%>

<%=
describe_sub_object 'The Image Object', json: image, html_id: 'the-image-object' do
  content_type 'String', 'A valid [content type](http://www.iana.org/assignments/media-types/media-types.xhtml#image) for the image. Please make sure the content type is supported by most browsers.'
  data         'String', "A [base-64](https://en.wikipedia.org/wiki/Base64) encoded (single-line non-chunking) byte array of the byte-sequence that composes the image."
end
%>

<%
validation_error_object = [
  {
    key: 'SecretFilePath',
    message: 'No file exists at the given path'
  }
]
%>

<%=
describe_sub_object 'The Validation Error Object', json: validation_error_object, html_id: 'the-validation-error-object' do
  key     'String',  'The name of configuration key that has an error.'
  message 'String',  'The error message associated with that key.'
end
%>
