# SCM Material Plugins

The SCM extension endpoint allows plugin authors to extend GoCD and integrate it with other SCMs.

GoCD's user documentation has an overview of SCM material plugins. Please see [that](https://docs.gocd.org/current/extension_points/scm_extension.html).


[A sample SCM material plugin - JGit](https://github.com/gocd/go-plugins/tree/master/plugins-for-tests/test-scm-plugin)

## Extension information

<p class='attributes-table-follows'></p>

|                            |                              |
| -------------------------- | ---------------------------- |
| **Availability**           |  GoCD version 15.1.0 onwards |
| **Extension Name**         | `scm`                        |
| **Extension API Version**  | `1.0`                        |