## Get Plugin Capabilities

This message is a request to the plugin to provide plugin capabilities. Based on these capabilities GoCD would enable or disable the plugin features for a user.

<p class='request-name-heading'>Request name</p>

`get-capabilities`

<p class='request-body-heading'>Request body</p>

Server sends request with `Empty` request body.

<p class='response-code-heading'>Response Body</p>

> An example response body:

```json
{
  "supports_pipeline_export": true,
  "supports_parse_content": true
}
```

The response body will contain the following JSON attributes:

<p class='attributes-table-follows'></p>

| Key                        | Type      | Description                                                                     |
| -------------------------- | --------- | ------------------------------------------------------------------------------- |
| `supports_pipeline_export` | `boolean` | Whether this plugin supports the [`pipeline-export`](#pipeline-export) request. |
| `supports_parse_content`   | `boolean` | Whether this plugin supports the [`parse-content`](#parse-content) request.     |

The plugin is expected to return status `200` if it can understand the request.
