---
title: GoCD Package Repository Plugin API Reference

toc_footers:
  - <a href='https://github.com/gocd/plugin-api.go.cd'>Edit this guide on GitHub</a>
  - <a href='https://api.gocd.org'>GoCD API Documentation</a>
  - <a href='https://docs.gocd.org'>GoCD User Documentation</a>

description: The objective of this guide is to explain how to write a Package Repository material plugin for GoCD
keywords: package-repo material, json api, message based api, gocd plugin, gocd plugins, package repository configuration

search: true
---

<%= render_all_sub_topics('package-repo') %>
