# Request/Response JSON Objects

<%
json = {
  'url' => {
    'default-value' => '',
    'secure' => false,
    'required' => true },
  'user' => {
    'default-value' => 'bob',
    'secure' => true,
    'required' => true },
  'password' => {}
}
%>

<%=
describe_sub_object 'The Task Configuration Response Object', json: json, html_id: 'the-task-configuration-response-object' do
  __add_property :'default-value', 'String',   'A value to be used as the default if the user provides no value.'
  __add_property :'secure',        'Boolean',  'If the value should be stored in an encrypted form in the `cruise-config.xml` file.'
  __add_property :'required',      'Boolean',  'Whether the field is required.'
end
%>


<%
json = {
  displayValue: 'MavenTask',
  template: '<div class="form_item_block">...</div>'
}
%>

<%=
describe_sub_object 'The Task View Response Object', json: json, html_id: 'the-task-view-response-object' do
  displayValue String, 'The name of the task that should be rendered in the view'
  template 'String',   'A string containing an HTML AngularJS based view.'
end
%>

This template is an [AngularJS](https://angularjs.org) based template.

<%= partial 'includes/shared/angular-templates.md' %>
